<html>
  <style>
    section {
      position: absolute;
      top: 25%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 50%) }
  </style>
  <body>
    <section>
      <h1>Hi, I'm Asad Akbar</h1>
      <h3>I'm a <a href="http://github.com/asadakbar">full stack engineer</a></h3>
      <div class="bio">
        <h3>I've built a 
          <a href="http://thenextweb.com/me/2010/12/01/mena-universities-cataloged-edufina-com-launches-new-services/">couple</a> 
          <a href="http://www.wamda.com/2012/11/rihlaprime-debuts-luxury-travel-deals-sites-in-the-middle-east">startups</a> 
          and am really <br/>
          passionate about building great products. From concept <br/>
          to development, from iterating on business models to <br/>
          leading the team, I'm all in.
        </h3>
      </div>
      <div class="bio"><h3>You can message me here: <br/> asad[at]asadakbar[dot]com</h3></div>
      <div class="bio"><h3><a href="http://github.com/asadakbar">GitHub</a> | <a href="http://twitter.com/asad">Twitter</a> | <a href="http://linkedin.com/in/asadakbar">Linkedin</a></h3></div>
    </section>
  </body>
</html>
